/* Variables */
 * {
	 box-sizing: border-box;
}
 body {
	 font-family: 'Roboto', sans-serif;
}
 h1 {
	 font-size: 2rem;
}
/* Header Styles */
 .header {
	 padding: 0 16px;
}
/* Buttons */
 .btn-primary {
	 background-color: #30a7d7;
	 border-color: #30a7d7;
}
 .btn-primary:hover {
	 background-color: #2288b2;
	 border-color: #2288b2;
}
 .btn-check:focus + .btn-primary, .btn-primary:focus {
	 background-color: #2288b2;
	 border-color: #2288b2;
	 box-shadow: 0 0 0 0.25rem rgba(48, 167, 215, .5);
}
 .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
	 background-color: #1a6887;
	 border-color: #1a6887;
}
 .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
	 box-shadow: 0 0 0 0.25rem rgba(48, 167, 215, .5);
}
/* Loading Style */
 .loading {
	 width: 48px;
	 height: 48px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-top: -25px;
	 margin-left: -25px;
}
 .loading::after {
	 content: '';
	 display: block;
	 background-image: url('../img/pokeball.png');
	 background-size: 48px 48px;
	 height: 48px;
	 animation-name: spin;
	 animation-duration: 1000ms;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 @keyframes spin {
	 from {
		 transform: rotate(0deg);
	}
	 to {
		 transform: rotate(360deg);
	}
}
/* Pokemon List Styles */
 .pokemon-list {
	 flex-wrap: wrap;
	 padding: 0 8px;
	 margin: 0;
}
 .pokemon-list > li {
	 width: 100%;
	 padding: 8px;
	 flex: 0 0 100%;
}
 @media (min-width: 576px) {
	 .pokemon-list > li {
		 width: 50%;
		 flex: 0 0 50%;
	}
}
 @media (min-width: 768px) {
	 .pokemon-list > li {
		 width: 33.3334%;
		 flex: 0 0 33.3334%;
	}
}
 @media (min-width: 1200px) {
	 .pokemon-list > li {
		 width: 25%;
		 flex: 0 0 25%;
	}
}
/* Pokemon Modal Styles */
 .pokemon-modal {
	 text-align: center;
}
 .pokemon-modal__img {
	 width: 96px;
}
 .pokemon-modal__types {
	 margin-top: 16px;
}
 .pokemon-modal__types__type {
	 display: inline-block;
	 font-size: 0.75rem;
	 font-weight: bold;
	 color: #fff;
	 background: #777;
	 padding: 8px;
	 border-radius: 20px;
	 margin: 0 4px;
	/* pokemon type colors */
}
 .pokemon-modal__types__type.is-bug {
	 background: #97a51d;
}
 .pokemon-modal__types__type.is-dark {
	 background: #644e40;
}
 .pokemon-modal__types__type.is-dragon {
	 background: #5e1df7;
}
 .pokemon-modal__types__type.is-electric {
	 background: #f6c913;
}
 .pokemon-modal__types__type.is-fairy {
	 background: #e87890;
}
 .pokemon-modal__types__type.is-fighting {
	 background: #ae2a24;
}
 .pokemon-modal__types__type.is-fire {
	 background: #ed6d12;
}
 .pokemon-modal__types__type.is-flying {
	 background: #8e6feb;
}
 .pokemon-modal__types__type.is-ghost {
	 background: #644e88;
}
 .pokemon-modal__types__type.is-grass {
	 background: #69c23d;
}
 .pokemon-modal__types__type.is-ground {
	 background: #dbb54d;
}
 .pokemon-modal__types__type.is-ice {
	 background: #7ecece;
}
 .pokemon-modal__types__type.is-normal {
	 background: #9c9c63;
}
 .pokemon-modal__types__type.is-poison {
	 background: #923a92;
}
 .pokemon-modal__types__type.is-psychic {
	 background: #f73670;
}
 .pokemon-modal__types__type.is-rock {
	 background: #a48f32;
}
 .pokemon-modal__types__type.is-steel {
	 background: #a0a0c0;
}
 .pokemon-modal__types__type.is-water {
	 background: #4578ed;
}
 .pokemon-modal__info {
	 list-style: none;
	 text-align: left;
	 padding: 0;
	 margin: 16px 0 0;
}
 .pokemon-modal__info li {
	 padding: 8px 0;
}
 
